capture/CMakeFiles/*
capture/CMakeLists.txt
capture/CMakeCache.txt
capture/cmake_install.cmake
capture/Makefile
train/CMakeFiles/*
train/CMakeLists.txt
train/CMakeCache.txt
train/cmake_install.cmake
train/Makefile
